
#navLink{
    color:white;
}
#mainHeader{
    background-image: url("images/backImage.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    padding:0;
    margin-bottom:15px;
}
#newtekHeading{
    font-size:140px;
    text-align:center;
    color:white;
    font-style: italic;
}
#smallHeading{
    text-align:center;
    color:white;
}
#secondNav{
    color:white;
    margin-top:20px;
    background-color:#404250;
    font-style:italic;
    opacity: 0.5;
}
#secondNav:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
#tricasterAd{
    background-image: url("https://233b1d13b450eb6b33b4-ac2a33202ef9b63045cbb3afca178df8.ssl.cf1.rackcdn.com/images/home-page-banners/2019-Q2-Promo-Home-Page-Button-No-text.jpg");
    width:100%;
    border-radius:5px;
    margin-bottom:15px;
}

#summerEvent{
    text-transform: uppercase;
    color:#00d0f7;
    font-size: 24px;
    padding-left: 50px;
}
#trade{
    text-transform: uppercase;
    color:white;
    margin:0;
    padding-left: 20px;
}
#save{
    text-transform: uppercase;
    color:white;
    margin:0;
    padding-left: 20px;
}
#learnMore{
    padding-left:50px;
    color:#00d0f7;
    margin-top:20px;
    bottom:auto;
}
#thirdRow{
    padding:0;
    margin-bottom:15px;
}
#firstPicture{
    height:200px;
    width:350px;
    border-radius:5px;
}
#secondPicture{
    height:200px;
    width:350px;
    border-radius:5px;
}
#thirdPicture{
    height:200px;
    width:350px;
    border-radius:5px;
}
.top-left{
  color:white;
  position: absolute;
  top: 8px;
  left: 30px;
}
.bottom-left {
    color:white;
    position: absolute;
    bottom: 150px;
    left: 30px;
  }
  .bottom-right a {
    color:white;
    position: absolute;
    bottom: 8px;
    right: 100px;
  }
  #secondHeader{
      background-color: #404250;
      justify-content:center;
  }
  #secondHeading{
      text-align:center;
      color:white;
      padding:30px;
      font-weight: normal;
      font-size:25px;
  }
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #404250;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }
 #firstSlide{
     left: 20%;
 }
 #calendarIcon{
     margin-top:15px;
     justify-content:center;
 }
 #firstHr {
    border: none;
    height: 5px;
    width:65%;
    background-color: #404250;
}

#eventsHeader{
    font-size:30px;
    background-color: #404250;
    color:white;
}
.card-text{
    line-height:2px;
}
#icons{
    text-align:center;
}
#iconText{
    margin-bottom: 50px;
}
#secondArrow{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #404250;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }
  #lastHeader{
    background-color: #404250;
    justify-content:center;
    padding:0;
  }
  #lastHeading{
    text-align:center;
    color:white;
    font-weight: normal;
    font-size:20px;
    padding:10px;
  }
  #firstStory{
      margin-top:30px;
  }
  .title{
      font-weight:bold;
      font-size:20px;
  }
  #stories{
      border: 0.1px solid grey;
      padding:20px;
  }

  #customBtn{
      background-color:black;
      color: #00d0f7;
  }
  #customBtn:hover{
    background-color:black;
    color: #00d0f7;
    border:1px solid yellow;
}

#slideshow{
    justify-content: center;
}
.slide-container {
    overflow: auto;
    white-space: nowrap;
  }

@media screen and (max-width: 530px){
    #newtekHeading{
        font-size:100px;
    }
}
@media screen and (max-width: 400px){
    #newtekHeading{
        font-size:70px;
    }
}
